//Colors
$base2: #7D5A35; //MarronOscuro
$base: #C7A98A; //Beige
$letter_color: black; //Black
$secondBackground: #cebfaf; //BeigeClaro

$base2Night: #220D00; //MarronNegracio
$baseNight: #62320D; //MarronOscurillo
$letter_colorNight: #FFFFFF;//Blanco
$secondBackgroundNight:#ADA180;//Beige




