.perfil{

.flag{
    width: 8%;
    height: 8%;
}

section{
    padding-bottom: 11.5%;
    padding-top: 6%;
    text-align: center;
    padding-left: 20%;                              //Simplemente coloco los elementos de la web
    padding-right: 24%;
    img{
        width: 15%;
        height: 3%;
    }
    span{
        font-size: 100%;
        width: 30%;   
    }
    article{

        padding: 2%;
        img{
            width: 20px;

        }
    }
    h3{
        font-size: xx-large;
    }
}
}

